.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/images/background-pattern-desktop.svg") no-repeat,
    hsl(275, 100%, 97%);
  height: 100vh;
  font-family: "Work Sans", sans-serif;

  .contentDiv {
    width: 600px;
    height: auto;
    min-height: 200px;
    background: hsl(0, 0%, 100%);
    border-radius: 14px;
    padding: 20px 35px;


    .faqDiv {
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: 15px;
      margin-bottom:30px;

   

      p {
        font-size: 58px;
        font-weight: 700;
      }
    }
  }
}
